body{
    background-color: #585656;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.heading{
    color: #1a1a1a;
    text-decoration: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #474747;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #f1f1f1;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #edeef1;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 100px;
}  

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
    color: #b9b4b4;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    padding-bottom: 0 0 8px 0;
    color: #b9b4b4;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #395fdb;
    border-radius: 6px;
    cursor: pointer;
}

footer .install img{
    margin: 10px 0 15px 0;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #080808;
}

footer .copyright{
    width: 100%;
    text-align: center;
}